<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Projet de Base de donnee</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
</head>

<body>
 <div class="login">
	<h1>Prédiction des loyers en fonction des Arrondissements de Paris</h1>
	<h2>10 points de bonus si vous aimez LINUX !!!</h2>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="surface" placeholder="surface" required="required" />
       <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>   
	    <table>
  <tr>
    <th>Arrondissment</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>10</td>
  </tr>
  <tr>
    <th>Loyer</th>
    {%for i in range(0, 5)%} 
  
       <td>{{ Loyer[i] }}€</td>
	{%endfor%} 

  </tr>
</table>
 </div>


</body>
</html>
